@import "../../../assets/styles/break-points.scss";
@import "../../../assets/styles/global-styles.scss";

.CardNote {
  min-width: max-content;
  width: 80vw;
  border-radius: 25px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
  border: 1px solid #d9d9d9;
  height: 440px;
  box-sizing: border-box;

  @include tablet {
    width: 70vw;
  }

  @include laptop {
    width: auto;
  }

  @include desktop {
    &:nth-child(3n) > div:nth-child(3) {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
    }
  }

  @include desktop-large {
    max-width: 400px;

    &:nth-child(3n) > div:nth-child(3) {
      display: flex;
    }

    &:nth-child(4n) > div:nth-child(3) {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
    }
  }
}

.EditNote {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 20px;

  textarea {
    height: 100%;
    resize: none;
    border: none;
    font-size: 13px;
    color: #4f4f4d;
    font-family: $font-main;
    background-color: transparent;
  }

  textarea:focus {
    border: none;
    outline: none;
  }
}

.Tools {
  display: flex;
  justify-content: space-between;

  span {
    display: flex;
    gap: 10px;
  }

  img {
    cursor: pointer;
  }
}

.Pallete {
  background-color: white;
  border-radius: 9px;
  border: 1px solid #d9d9d9;
  height: 50px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 5px;
  box-sizing: border-box;
  width: max-content;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
  margin-left: 40px;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: max-content;

  span {
    display: block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
  }

  @include tablet {
    grid-template-columns: repeat(6, 1fr);
  }

  @include desktop {
    display: flex;
  }
}
